<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>


    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <script src="//use.typekit.net/odc3hts.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body ng-app="TreelineExample" ng-controller="AppCtrl">
    <div class="homepage">
      <div class="contact container">
        <div class="container">
          <div class="jumbotron">
            <h1>Contact</h1>
            <h4>Fill out the form below and we'll get back to you as soon as possible.</h4>
            <form ng-submit="intent.submitContactForm()">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Name" ng-model="contact.name">
              </div>
              <div class="form-group">
                <input class="form-control" type="email" placeholder="Email" ng-model="contact.email">
              </div>
              <div class="form-group">
                <textarea class="form-control" placeholder="Message" ng-model="contact.message"></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-lg btn-primary" type="submit">Get In Touch</button>
                <span class="thank-you" ng-show="homepage.messageSent">Thank you! We'll be in touch soon.</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--SCRIPTS-->
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/App.js"></script>
    <script src="/js/AppCtrl.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
